absl-py==2.1.0
accelerate==1.7.0
Adafruit-Blinka==8.50.0
adafruit-blinka-bleio==4.1.2
adafruit-circuitpython-ble==10.0.9
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
addict==2.4.0
aenum==3.1.15
aiobaseclient==0.2.7
aiodns==3.0.0
aiofiles==23.2.1
aiogrpcclient==1.3.5
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiohttp-socks==0.8.3
aioice==0.10.1
aiokit==1.2.3
aioresponses==0.7.6
aiortc==1.9.0
aiosignal==1.3.1
aiosqlite==0.21.0
aiostream==0.5.2
aiosumma==2.46.10
airportsdata==20250224
albucore==0.0.13
albumentations==1.4.10
alembic==1.13.3
altair==5.2.0
altgraph==0.17.4
ane_transformers==0.1.1
annotated-types==0.7.0
anthropic==0.49.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.10.1
aqlm==1.0.1
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argbind==0.3.9
argcomplete==1.10.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asteroid-filterbanks==0.4.0
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
asyncua==1.1.6
attrdict==2.0.1
attrs==23.2.0
audible==0.9.1
audible-cli==0.3.1
audioread==3.0.1
Authlib==1.3.0
autocorrect==2.6.1
Automat==24.8.1
av==12.3.0
awkward==2.8.0
awkward_cpp==45
awscli==1.33.30
Babel==2.15.0
backoff==2.2.1
bangla==0.0.5
bcrypt==4.1.2
beautifulsoup4==4.13.3
beir==2.1.0
bibtexparser==1.4.3
binho-host-adapter==0.1.6
bitarray==2.9.2
bitsandbytes==0.42.0
blake3==1.0.4
bleach==6.1.0
bleak==0.20.2
blessed==1.20.0
blinker==1.7.0
blis==1.2.1
blobfile==3.0.0
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boltons @ file:///Users/cbousseau/work/recipes/ci_py311/boltons_1677965141748/work
boto3==1.34.123
botocore==1.34.148
braceexpand==0.1.7
Brotli==1.1.0
brotlipy==0.7.0
bs4==0.0.2
build==1.0.3
CacheControl==0.14.0
cached-property==1.5.2
cached_path==1.7.3
cachetools==5.3.2
cairocffi==1.7.1
CairoSVG==2.7.1
camel-converter==4.0.1
camelot-py==1.0.0
catalogue==2.0.10
cattrs==23.2.3
cdifflib==1.2.6
certifi==2025.4.26
cffi @ file:///Users/cbousseau/work/recipes/ci_py311/cffi_1677903595907/work
chardet==3.0.4
charset-normalizer==3.4.2
chat_with_mlx==0.2.2
chess==1.11.2
chex==0.1.86
chroma-hnswlib==0.7.3
chromadb==0.5.0
click==8.1.8
cloud-tpu-client==0.10
cloudpathlib==0.16.0
cloudpickle==3.1.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorclass==2.2.2
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.1
commonmark==0.9.1
compressed-rtf @ file:///home/conda/feedstock_root/build_artifacts/compressed-rtf_1594407552836/work
compressed-tensors==0.9.3
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1727884731219/work
conda-content-trust @ file:///Users/cbousseau/work/recipes/ci_py311/conda-content-trust_1677970020347/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_fc4cx8vjhj/croot/conda-package-handling_1690999937094/work
conda_package_streaming @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_aecpaup22q/croot/conda-package-streaming_1690987978274/work
confection==0.1.4
ConfigArgParse==1.7
constantly==23.10.4
contourpy==1.3.2
coqpit==0.0.17
coremltools==8.2
cryptography==44.0.2
css-parser==1.0.10
cssselect==1.3.0
cssselect2==0.8.0
csvw==3.5.1
ctranslate2==4.5.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.0
cytoolz==1.0.1
d2l==1.0.3
dacite==1.9.2
dataclasses-json==0.6.7
DataProperty==1.0.1
datasets==3.6.0
dateparser==1.1.8
debugpy==1.8.0
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
depyf==0.18.0
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diGraph==0.1.4
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
Distance==0.1.3
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dlinfo==2.0.0
dm-tree==0.1.8
dnspython==2.7.0
docker==7.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.16
docx==0.2.4
docx2txt @ file:///home/conda/feedstock_root/build_artifacts/docx2txt_1724281378092/work
duckdb==1.2.1
e2b==0.17.1
e2b-code-interpreter==0.0.10
easygui==0.98.3
easyocr @ git+https://github.com/JaidedAI/EasyOCR.git@c4f3cd7225efd4f85451bd8b4a7646ae9a092420
ebcdic @ file:///home/conda/feedstock_root/build_artifacts/ebcdic_1621162493973/work/ebcdic
-e git+https://github.com/gryf/ebook-converter@72d0858ad8a852b0e659d8a57b5330f39106d545#egg=ebook_converter
EbookLib==0.17.1
ecdsa==0.19.1
edge-tts==7.0.2
editdistance==0.8.1
editor==1.6.6
effdet==0.4.1
einops==0.8.0
einx==0.3.0
elastic-transport==8.17.1
elasticsearch==8.17.2
ema-pytorch==0.7.7
email_validator==2.2.0
emoji==2.12.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
entmax==1.3
espeakng-loader==0.2.4
et-xmlfile==1.1.0
etils==1.9.4
ev3-dc==0.9.10.2
eval_type_backport==0.2.0
evalplus==0.2.1
evaluate==0.4.1
execnet==2.1.1
executing==2.0.1
extract-msg==0.29.0
f5-tts==1.1.4
fairseq==0.12.2
faiss-cpu==1.7.4
fastapi==0.115.12
fastapi-cli==0.0.7
fastapi_poe==0.0.34
fastembed==0.6.0
-e git+https://github.com/SYSTRAN/faster-whisper.git@d57c5b40b06e59ec44240d93485a95799548af50#egg=faster_whisper
fastjsonschema==2.19.1
fastrtc==0.0.24
fastrtc-moonshine-onnx==20241016
fasttext==0.9.2
fasttext-wheel==0.9.2
faust-cchardet==2.1.19
feedparser==6.0.11
ffmpeg==1.4
ffmpy==0.3.2
fhaviary==0.6.1
fiddle==0.3.0
filelock==3.18.0
filetype==1.2.0
fire==0.5.0
firebase-admin==6.4.0
Flask==3.0.2
flatbuffers==24.3.25
flatten-dict==0.4.2
flax==0.8.4
fonttools==4.47.2
fqdn==1.5.1
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841356120/work
frozenlist==1.4.1
fsspec==2025.5.0
ftfy==6.3.1
future==1.0.0
g2p-en==2.1.0
g2pkk==0.1.2
gast==0.5.4
gensim==4.3.2
gguf==0.16.3
ghostscript==0.7
git-filter-repo==2.47.0
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
glog==0.3.1
gmpy2==2.1.5
google-ai-generativelanguage==0.6.2
google-api-core==1.34.1
google-api-python-client==2.137.0
google-auth==2.28.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.15.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.5.2
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gpt4all==1.0.5
GPUtil==1.4.0
gradio==5.23.0
gradio_client==1.8.0
gradio_pdf==0.0.8
gradio_tools==0.0.9
graphviz==0.20.3
greenlet==3.0.3
groovy==0.1.2
groq==0.5.0
grpcio==1.64.0
grpcio-status==1.49.0rc1
grpcio-tools==1.62.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gspread==6.0.2
gTTS==2.5.4
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hangul-romanize==0.1.0
hf-hub-ctranslate2==2.12.0
hf-xet==1.1.2
hf_transfer==0.1.5
hpack==4.0.0
html2image==2.0.4.3
html2text==2024.2.26
html5-parser==0.4.12
httpcore==1.0.4
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.31.4
humanfriendly==10.0
humanize==4.10.0
hydra-core==1.3.2
hyperframe==6.0.1
hyperlink==21.0.0
HyperPyYAML==1.2.2
icecream==2.1.3
idna==3.10
ifaddr==0.2.0
imageio==2.33.1
IMAPClient==2.1.0
img2pdf==0.5.1
imgaug==0.4.0
immutables==0.20
importlib-metadata==6.11.0
importlib_resources==6.1.2
incremental==24.7.2
inference==0.49.5
inflect==7.5.0
iniconfig==2.0.0
inquirer==3.2.3
install==1.3.5
interegular==0.3.3
intervaltree==3.1.0
iopath==0.1.10
ipfs_hamt_directory_py==0.1.1
ipykernel==6.29.0
ipython==8.21.0
ipywidgets==8.1.2
isodate==0.7.2
isoduration==20.11.0
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.1.2
izihawa-ipfs-api==1.0.7
izihawa-utils==1.1.4
jamo==0.4.1
Janome==0.5.0
jax==0.4.26
jaxlib==0.4.26
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.6
jiter==0.5.0
jiwer==3.1.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonargparse==3.13.1
jsonlines==1.2.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpath-python==1.0.6
jsonpointer==2.1
jsonrpcclient==4.0.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
kagglehub==0.1.9
kaldi-python-io==1.2.2
kaldiio==2.18.1
keras==3.10.0
keras-core==0.1.7
keras-nlp==0.8.1
kiwisolver==1.4.5
kornia==0.8.1
kornia_rs==0.1.9
kraken==5.3.0
kubernetes==29.0.0
lancedb==0.21.2
langchain==0.1.16
langchain-anthropic==0.3.9
langchain-community==0.0.34
langchain-core==0.1.45
langchain-experimental==0.0.57
langchain-google-genai==1.0.4
langchain-groq==0.1.3
langchain-openai==0.1.3
langchain-text-splitters==0.0.2
langchain-together==0.1.1
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.147
language-tags==1.2.0
lark==1.2.2
latexcodec==3.0.0
layoutparser==0.3.4
lazy_loader==0.4
Levenshtein==0.27.1
lhotse==1.30.3
libclang==16.0.6
libcst==1.7.0
libmambapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_69t7vyvo1k/croot/mamba-split_1704219411138/work/libmambapy
librosa==0.10.2.post1
lightning==2.4.0
lightning-utilities==0.11.2
lilcom==1.8.1
litellm==1.44.24
llama-cloud==0.1.14
llama-cloud-services==0.6.5
llama-index==0.12.23
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.23.post2
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.8
llama-index-llms-openai==0.3.25
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.6
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.4.post1
llama_cpp_python==0.3.9
llava @ https://h2o-release.s3.amazonaws.com/h2ogpt/llava-1.7.0.dev0-py3-none-any.whl#sha256=3799d074143f86041934874bc882b884d71d892d3781e90dd8d745ff29e7cd7d
llguidance==0.7.20
# Editable install with no version control (llmtuner==0.7.0)
-e /Users/christianstrobele/code/LLaMA-Factory
llvmlite==0.44.0
lm-format-enforcer==0.10.11
# Editable install with no version control (lm_eval==0.4.2)
-e /Users/christianstrobele/code/lm-evaluation-harness
lmdb==1.6.2
loguru==0.7.3
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1671013771134/work
macholib==1.16.3
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
marshmallow==3.20.2
matplotlib==3.10.3
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
mecab-python3==1.0.10
mediapy==1.1.6
meilisearch==0.28.2
menuinst @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_26a7xsau78/croot/menuinst_1706732941263/work
# Editable install with no version control (mergekit==0.0.4.1)
-e /Users/christianstrobele/Downloads/mergekit
MIDIUtil==1.2.1
milvus-lite==2.4.12
misaki==0.9.4
mistral_common==1.5.4
mistralai==0.1.8
mistune==3.0.2
ml_dtypes==0.5.1
mlx==0.25.2
mlx-audio==0.2.2
mlx-lm==0.24.1
mlx-vlm==0.1.26
mlx-whisper==0.4.1
mlx_embedding_models==0.0.11
mlx_llm==1.0.9
mmh3==4.1.0
mobi==0.3.3
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.1.0
msgpack-numpy==0.4.8
msgpack-python==0.5.6
msgspec==0.19.0
msoffcrypto-tool==5.4.2
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
murmurhash==1.0.10
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.7
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.8.8
ninja==1.11.1.1
nltk==3.9.1
notebook==7.1.3
notebook_shim==0.2.4
num2words==0.5.14
numba==0.61.2
numexpr==2.10.2
numpy==2.2.6
nvidia-ml-py==12.575.51
oauth2client==4.1.3
oauthlib==3.2.2
ocrmypdf==16.10.0
odfpy==1.4.1
olefile==0.46
oletools @ file:///home/conda/feedstock_root/build_artifacts/oletools_1643648364003/work
ollama==0.4.7
omegaconf==2.3.0
onnx==1.16.1
onnxruntime==1.21.0
open-interpreter==0.2.0
openai==1.66.3
openai-whisper @ git+https://github.com/openai/whisper.git@25639fc17ddc013d56c594bfbf7644f2185fad84
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
OpenNMT-py==2.3.0
openpyxl==3.1.2
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.9
opentelemetry-util-http==0.44b0
opt-einsum==3.3.0
optax==0.2.2
optimum==1.24.0
optree==0.14.0
optuna==4.0.0
orbax-checkpoint==0.6.4
ordered-set==4.1.0
orjson==3.9.15
orpheus-speech==0.1.0
outcome==1.3.0.post0
outetts==0.4.3
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==25.0
paddleocr==2.10.0
paddlepaddle==2.6.2
paho-mqtt==1.6.1
pandas==2.2.3
pandocfilters==1.5.1
paper-qa==5.0.0
parsel==1.10.0
parso==0.8.3
partial-json-parser==0.2.1.1.post5
pathvalidate==3.2.0
pbkdf2==1.3
pcodedmp==1.2.6
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six @ file:///home/conda/feedstock_root/build_artifacts/pdfminer.six_1720352529635/work
pdfplumber==0.11.5
pdftext==0.5.1
peft==0.10.0
pendulum==3.0.0
pexpect==4.9.0
phonemizer-fork==3.3.2
pi_heif==0.21.0
piexif==1.1.3
pikepdf==8.15.1
pillow==11.1.0
pillow_heif==0.16.0
pip-licenses==4.4.0
piper-tts==1.2.0
piper_phonemize_cross==1.2.1
pipx==1.6.0
pkgconfig==1.5.5
plac==1.4.5
platformdirs==4.3.8
playwright==1.44.0
plotly==5.18.0
pluggy==1.5.0
polars==0.20.22
pooch==1.8.2
portalocker==2.8.2
posthog==3.3.4
preshed==3.0.9
prettytable==3.10.0
primefac==2.0.12
primePy==1.3
prometheus-client==0.19.0
prometheus-fastapi-instrumentator==7.1.0
prompt-toolkit==3.0.43
Protego==0.4.0
proto-plus==1.23.0
protobuf==3.20.3
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
PuLP==2.9.0
pulsar-client==3.4.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py_rust_stemmers==0.1.5
pyaes==1.6.1
pyahocorasick==2.1.0
pyaml==24.4.0
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==19.0.1
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.3.0
pybase64==1.0.2
pybind11==2.12.0
pybtex==0.24.0
pycares==4.3.0
pycld3 @ file:///Users/christianstrobele/code/EQ-Bench/data/pycld3
pyclipper==1.3.0.post6
pycocotools==2.0.7
pycosat @ file:///Users/cbousseau/work/recipes/ci_py311/pycosat_1677933552468/work
pycountry==23.12.11
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.20.0
pycryptodomex==3.21.0
pydantic==2.11.4
pydantic-settings==2.5.2
pydantic_core==2.33.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydot==2.0.0
pydub==0.25.1
pyee==13.0.0
pyftdi==0.55.4
pygame==2.6.1
PyGithub==2.6.1
Pygments==2.17.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.8.0
pylance==0.25.1
pylibsrtp==0.12.0
pylogix==1.0.5
pyloudnorm==0.1.1
pymata-cpx==1.0
pymata-express==1.21
pymata-rh==1.2
pymeilisearch==0.3.2
pymeilisearch-scraper==0.2.3
pymilvus==2.5.6
pymilvus.model==0.3.1
pymodbus==3.8.3
PyMuPDF==1.25.2
PyMuPDFb==1.24.10
PyNaCl==1.5.0
pynndescent==0.5.13
pyoai==2.5.0
pyobjc==11.0
pyobjc-core==11.0
pyobjc-framework-Accessibility==11.0
pyobjc-framework-Accounts==11.0
pyobjc-framework-AddressBook==11.0
pyobjc-framework-AdServices==11.0
pyobjc-framework-AdSupport==11.0
pyobjc-framework-AppleScriptKit==11.0
pyobjc-framework-AppleScriptObjC==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-AppTrackingTransparency==11.0
pyobjc-framework-AudioVideoBridging==11.0
pyobjc-framework-AuthenticationServices==11.0
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
pyobjc-framework-Automator==11.0
pyobjc-framework-AVFoundation==11.0
pyobjc-framework-AVKit==11.0
pyobjc-framework-AVRouting==11.0
pyobjc-framework-BackgroundAssets==11.0
pyobjc-framework-BrowserEngineKit==11.0
pyobjc-framework-BusinessChat==11.0
pyobjc-framework-CalendarStore==11.0
pyobjc-framework-CallKit==11.0
pyobjc-framework-Carbon==11.0
pyobjc-framework-CFNetwork==11.0
pyobjc-framework-Cinematic==11.0
pyobjc-framework-ClassKit==11.0
pyobjc-framework-CloudKit==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Collaboration==11.0
pyobjc-framework-ColorSync==11.0
pyobjc-framework-Contacts==11.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreAudio==11.0
pyobjc-framework-CoreAudioKit==11.0
pyobjc-framework-CoreBluetooth==11.0
pyobjc-framework-CoreData==11.0
pyobjc-framework-CoreHaptics==11.0
pyobjc-framework-CoreLocation==11.0
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-CoreMediaIO==11.0
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-CoreML==11.0
pyobjc-framework-CoreMotion==11.0
pyobjc-framework-CoreServices==11.0
pyobjc-framework-CoreSpotlight==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-CoreWLAN==11.0
pyobjc-framework-CryptoTokenKit==11.0
pyobjc-framework-DataDetection==11.0
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DeviceDiscoveryExtension==11.0
pyobjc-framework-DictionaryServices==11.0
pyobjc-framework-DiscRecording==11.0
pyobjc-framework-DiscRecordingUI==11.0
pyobjc-framework-DiskArbitration==11.0
pyobjc-framework-DVDPlayback==11.0
pyobjc-framework-EventKit==11.0
pyobjc-framework-ExceptionHandling==11.0
pyobjc-framework-ExecutionPolicy==11.0
pyobjc-framework-ExtensionKit==11.0
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-FileProvider==11.0
pyobjc-framework-FileProviderUI==11.0
pyobjc-framework-FinderSync==11.0
pyobjc-framework-FSEvents==11.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-GameController==11.0
pyobjc-framework-GameKit==11.0
pyobjc-framework-GameplayKit==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
pyobjc-framework-InputMethodKit==11.0
pyobjc-framework-InstallerPlugins==11.0
pyobjc-framework-InstantMessage==11.0
pyobjc-framework-Intents==11.0
pyobjc-framework-IntentsUI==11.0
pyobjc-framework-IOBluetooth==11.0
pyobjc-framework-IOBluetoothUI==11.0
pyobjc-framework-IOSurface==11.0
pyobjc-framework-iTunesLibrary==11.0
pyobjc-framework-KernelManagement==11.0
pyobjc-framework-LatentSemanticMapping==11.0
pyobjc-framework-LaunchServices==11.0
pyobjc-framework-libdispatch==11.0
pyobjc-framework-libxpc==11.0
pyobjc-framework-LinkPresentation==11.0
pyobjc-framework-LocalAuthentication==11.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
pyobjc-framework-MailKit==11.0
pyobjc-framework-MapKit==11.0
pyobjc-framework-MediaAccessibility==11.0
pyobjc-framework-MediaExtension==11.0
pyobjc-framework-MediaLibrary==11.0
pyobjc-framework-MediaPlayer==11.0
pyobjc-framework-MediaToolbox==11.0
pyobjc-framework-Metal==11.0
pyobjc-framework-MetalFX==11.0
pyobjc-framework-MetalKit==11.0
pyobjc-framework-MetalPerformanceShaders==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
pyobjc-framework-MetricKit==11.0
pyobjc-framework-MLCompute==11.0
pyobjc-framework-ModelIO==11.0
pyobjc-framework-MultipeerConnectivity==11.0
pyobjc-framework-NaturalLanguage==11.0
pyobjc-framework-NetFS==11.0
pyobjc-framework-Network==11.0
pyobjc-framework-NetworkExtension==11.0
pyobjc-framework-NotificationCenter==11.0
pyobjc-framework-OpenDirectory==11.0
pyobjc-framework-OSAKit==11.0
pyobjc-framework-OSLog==11.0
pyobjc-framework-PassKit==11.0
pyobjc-framework-PencilKit==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-Photos==11.0
pyobjc-framework-PhotosUI==11.0
pyobjc-framework-PreferencePanes==11.0
pyobjc-framework-PushKit==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-QuickLookThumbnailing==11.0
pyobjc-framework-ReplayKit==11.0
pyobjc-framework-SafariServices==11.0
pyobjc-framework-SafetyKit==11.0
pyobjc-framework-SceneKit==11.0
pyobjc-framework-ScreenCaptureKit==11.0
pyobjc-framework-ScreenSaver==11.0
pyobjc-framework-ScreenTime==11.0
pyobjc-framework-ScriptingBridge==11.0
pyobjc-framework-SearchKit==11.0
pyobjc-framework-Security==11.0
pyobjc-framework-SecurityFoundation==11.0
pyobjc-framework-SecurityInterface==11.0
pyobjc-framework-SensitiveContentAnalysis==11.0
pyobjc-framework-ServiceManagement==11.0
pyobjc-framework-SharedWithYou==11.0
pyobjc-framework-SharedWithYouCore==11.0
pyobjc-framework-ShazamKit==11.0
pyobjc-framework-Social==11.0
pyobjc-framework-SoundAnalysis==11.0
pyobjc-framework-Speech==11.0
pyobjc-framework-SpriteKit==11.0
pyobjc-framework-StoreKit==11.0
pyobjc-framework-Symbols==11.0
pyobjc-framework-SyncServices==11.0
pyobjc-framework-SystemConfiguration==11.0
pyobjc-framework-SystemExtensions==11.0
pyobjc-framework-ThreadNetwork==11.0
pyobjc-framework-UniformTypeIdentifiers==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-UserNotificationsUI==11.0
pyobjc-framework-VideoSubscriberAccount==11.0
pyobjc-framework-VideoToolbox==11.0
pyobjc-framework-Virtualization==11.0
pyobjc-framework-Vision==11.0
pyobjc-framework-WebKit==11.0
pyonmttok==1.37.1
pyOpenSSL==25.0.0
pypandoc==1.13
pyparsing==3.0.9
pypdf==5.4.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
PyPika==0.48.9
pypinyin==0.54.0
pypinyin-dict==0.9.0
pyproject_hooks==1.0.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pyreadstat==1.2.7
pysbd==0.3.4
pyserial==3.5
PySocks @ file:///Users/cbousseau/work/recipes/ci_py311/pysocks_1677906386870/work
pystoi==0.4.1
pytablewriter==1.2.0
pytesseract==0.3.13
pytest==8.2.2
pytest-asyncio==0.21.1
pytest-xdist==3.6.1
python-banyan==3.14
python-bidi==0.6.3
python-bricklink-api==0.3.1
python-chess==1.999
python-crfsuite==0.9.11
python-dateutil==2.8.2
python-doctr==0.11.0
python-docx==1.1.2
python-dotenv==1.0.1
python-ev3dev2==2.1.0.post1
python-gflags==3.1.2
python-iso639==2024.4.27
python-jose==3.4.0
python-json-logger==2.0.7
python-keycloak-client==0.2.3
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==0.6.18
python-socks==2.4.3
pytorch-lightning==2.0.7
pytorch-metric-learning==2.6.0
pytrec-eval-terrier==0.5.6
pyttsx3==2.98
pytube==15.0.0
pytz==2024.1
pyusb==1.2.1
pyvips==2.2.3
PyWavelets==1.7.0
PyYAML==6.0.2
pyzmq==25.1.2
pyzotero==1.6.11
qdrant-client==1.13.3
qtconsole==5.5.2
QtPy==2.4.1
questionary==2.0.1
queuelib==1.7.0
randomname==0.2.1
RapidFuzz==3.13.0
rawdog-ai==0.1.1
rdflib==7.1.4
readchar==4.0.5
redis==5.0.1
referencing==0.33.0
regex==2024.11.6
replicate==0.25.2
requests==2.32.3
requests-file==2.1.0
requests-iap==0.2.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resampy==0.4.3
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==14.0.0
rich-toolkit==0.13.2
rouge-score==0.1.2
rpds-py==0.17.1
rsa==4.7.2
RTFDE @ file:///home/conda/feedstock_root/build_artifacts/rtfde_1701943537480/work
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.11.2
runs==1.2.2
s3-extend==1.30
s3transfer==0.10.2
sacrebleu==2.4.1
sacremoses==0.1.1
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
Scrapy==2.11.0
seaborn==0.13.2
segments==2.3.0
selenium==4.10.0
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
sentry-sdk==2.28.0
service-identity==24.2.0
setproctitle==1.3.6
sgmllib3k==1.0.0
shapely==2.0.7
shellingham==1.5.4
shtab==1.7.0
Sickle==0.7.0
sillm-mlx==0.1.3
six==1.17.0
skypilot==0.5.0
slack_sdk==3.33.5
smart-open==6.4.0
smmap==5.0.2
snac==1.2.1
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.5.2
soundfile==0.13.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
sox==1.5.0
soxr==0.5.0.post1
spacy==3.8.4
spacy-curated-transformers==0.3.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.25
sqlitedict==2.1.0
srsly==2.4.8
srt==3.5.3
srupy==0.1.1
sse-starlette==2.0.0
stack-data==0.6.3
starlette==0.46.2
starlette-context==0.3.6
stc-geck==1.8.32
streamlit==1.43.2
StrEnum==0.4.15
striprtf==0.0.26
structlog==24.4.0
SudachiDict-core==20250515
SudachiPy==0.6.10
summa_embed==0.20.2
supervision==0.25.1
surya-ocr==0.10.2
sympy==1.14.0
tabledata==1.3.3
tabulate==0.9.0
tantivy==0.22.0
tcolorpy==0.1.4
telemetrix-aio==1.25
telemetrix-esp32==1.4.1
tempdir==0.7.1
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.19.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.16.2
tensorflow-text==2.19.0
tensorstore==0.1.66
termcolor==2.3.0
terminado==0.18.1
tesseract==0.1.3
text-unidecode==1.3
texterrors==0.5.1
textract @ file:///Users/christianstrobele/Documents/texte/textract_fix/textract-1.6.5
tf-keras==2.15.0
thinc==8.3.4
thread-task==0.9.7
threadpoolctl==3.5.0
tifffile==2024.1.30
tika==2.6.0
tiktoken==0.9.0
time-machine==2.14.2
timm==1.0.3
tinycss==0.4
tinycss2==1.3.0
tldextract==5.1.2
tmx-pico-aio==1.3
together==1.1.5
tokenizers==0.20.3
tokentrim==0.1.13
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
toolz @ file:///Users/cbousseau/work/recipes/ci_py311/toolz_1677925870232/work
torch==2.7.0
torch-audiomentations==0.11.1
torch-stoi==0.2.3
torch_pitch_shift==1.2.5
torchao==0.11.0
torchaudio==2.7.0
torchdata==0.11.0
torchdiffeq==0.2.5
torchmetrics==1.4.2
torchtext==0.5.0
torchtune==0.6.1
torchvision==0.22.0
tornado==6.4
tqdm==4.67.1
tqdm-multiprocess==0.0.11
trainer==0.0.36
traitlets==5.14.1
transformers==4.45.2
transformers-stream-generator==0.0.5
trio==0.25.0
trio-websocket==0.11.1
trl==0.8.6
truststore @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_42mm7e6j06/croot/truststore_1695244298716/work
TTS==0.22.0
twilio==9.3.8
Twisted==22.10.0
typeguard==4.4.2
typepy==1.3.2
typer==0.12.5
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tyro==0.7.3
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
umap-learn==0.5.7
unbabel-comet==2.2.2
Unidecode==1.4.0
unidic-lite==1.0.8
unsloth @ git+https://github.com/unslothai/unsloth.git@a2f4c9793ecf829ede2cb64f2ca7a909ce3b0884
unstructured==0.12.5
unstructured-client==0.22.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
uri-template==1.3.0
uritemplate==3.0.1
urllib3==2.4.0
uroman==1.3.1.1
userpath==1.9.2
uuid==1.30
uvicorn==0.27.1
uvloop==0.19.0
validators==0.22.0
vector-quantize-pytorch==1.17.8
vllm==0.8.5.post1
vocos==0.1.0
w3lib==2.3.1
wait_for2==0.3.2
waitress==3.0.0
wandb==0.19.11
wasabi==1.1.2
watchdog==6.0.0
watchfiles==0.21.0
Wave==0.0.2
wcwidth==0.2.13
weasel==0.4.1
weaviate-client==3.26.2
webcolors==1.13
webdataset==0.1.62
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.2
wget==3.2
whisper==1.1.10
whisper_jax @ git+https://github.com/sanchit-gandhi/whisper-jax.git@f983178a80ad37cf2f655777c26a74438b5d8690
widgetsnbextension==4.0.10
word2number==1.1
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.1.1
x-transformers==2.3.5
xcodec2==0.1.5
xformers==0.0.29.post3
xlrd==1.2.0
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1723277104680/work
xmod==1.8.1
xxhash==3.4.1
yarl==1.9.4
yaz==1.1.2
youtokentome==1.0.6
youtube-dl==2021.12.17
youtube-transcript-api==0.6.2
yt-dlp==2025.3.21
zipp==3.17.0
zope.interface==7.2
zstandard==0.23.0
zxing-cpp==2.2.0
